<body>
    <div class="login-card">
        <h2>Bienvenido</h2>
        <h3>Ingrese sus credenciales</h3>
        <form class="login-form">
            <input type="text" placeholder="Nombre de usuario" />
            <input type="password" placeholder="Contraseña" />
            <button type="submit"> Ingresar </button>
        </form>
    </div>
</body>