.imagen-hero {
    background-image: url(../../../../public/images/intro.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
}

.texto-hero {
    text-align: center;
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -5%);
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card1 {
    padding: 5px;
    display: flex;
    align-items: end;
    background-image: url(../../../../public/images/card1.jpg);
    width: 280px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card2 {
    padding: 5px;
    display: flex;
    align-items: end;
    background-image: url(../../../../public/images/card2.jpg);
    width: 280px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card3 {
    padding: 5px;
    display: flex;
    align-items: end;
    background-image: url(../../../../public/images/card3.jpg);
    width: 280px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card4 {
    padding: 5px;
    display: flex;
    align-items: end;
    background-image: url(../../../../public/images/card4.jpg);
    width: 280px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.texto-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    justify-content: center;
}

.contenido2 {
    margin-top: 50px;
    display: flex;
}

.card5 {
    padding: 5px;
    display: flex;
    align-items: end;
    background-image: url(../../../../public/images/card4.jpg);
    width: 600px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}