/**/
.logo{
width: 12%;

}
nav {
    width: 100%;
    padding-left: 20px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background-color: #FEFDF8;
}

.nav1 {
    font-family: sans-serif;
    width: 50%;

}

nav ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: #343434;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

.nav1 {
    height: 20px;
    text-align: center;
    align-items: center;
}